:root {
    --light-mode : #F8F9FA;
    --dark-mode : #212529;
}

* {
    margin: 0;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-mode);
}

#switch-mode {
    display: none;
}

#center:has(#switch-mode:checked) {
    background-color: var(--dark-mode);
}

#frame {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 80px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #E9ECEF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: .5s;
    background-color: #ff7900;
}

.slider::before {
    position: absolute;
    top: 9px;
    left: 10px;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    transition: .5s;
}

#switch-mode:checked + #frame .slider::before {
    transform: translateX(100px);
}

#switch-mode:checked + #frame .slider {
    background-color: #7b2cbf;
}
