:root {
    --light-mode : #ffffff;
    --track : #f0f0f0;
    --knob : #ff9f0a;

    --dark-mode : #0b0e14;
    --track-dark : #1f232b;
    --knob-dark : #bf5af2;
}

* {
    margin: 0;
}


#switch-mode {
    display: none;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#center:has(#switch-mode:checked) {
    background-color: var(--dark-mode);
}

/* Create Track */
#track {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.knob {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: var(--track);
}

.knob::before{
    position: absolute;
    content: "";
    top: 9px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--knob);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    transition: .4s;
}

#switch-mode:checked + #track .knob::before {
    transform: translateX(100px);
    background-color: var(--knob-dark);
}

#switch-mode:checked + #track .knob {
    background-color: var(--track-dark);
}

